<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
    <title>Dojos & Ninjas</title>
</head>
<body>
    <h1>Dojos Page</h1>
    <div class="">
        <div>
            <form action="/create/dojo" method="POST">
                <h2>New Dojo</h2>
                <div>
                    <label for="name">Dojo Name:</label>
                    <input type="text" name="name" >
                </div>
                <input type="submit" value="Create">
            </form>
        </div>
        <div class="">
            <h2>All Dojos</h2>
            {% for dojo in all_dojos %}
            <p> 
                <a href="/dojo/{{dojo.id}}" class="">{{dojo.name}}</a>
            </p>
            {% endfor %}
        </div>
        <a href="/ninjas" class="">Add Ninja</a>
    </div>
</body>
</html>